.border {
    border: 5px double black;
    box-sizing: border-box;
    border-radius: 20px;
    padding: 150px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: rgb(255, 192, 203);
    margin: 50px 200px 200px 200px;
    font-size: 20px;
    background-clip: padding-box;
}
body.page{
    background-image: url("background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    
}
