
span.edit-value{
    color:white;
    background-color:#0cdf33;
}
.edit-btn{
    box-sizing: border-box;
    border-radius: 2px;
    padding: .3rem 1rem;

}
span.delete-value{
    color:white;
    background-color:#f50b0b;
}
.delete-btn{
    box-sizing: border-box;
    border-radius: 2px;
    padding: .3rem;

}
.body content{
    margin-left: 200px;
}
